header {
    background-color: #FFF;
    color: #434455;
    font-size: 16px;
}
#baslik {
    font-size: 18px;
}
button {
    border: 4px solid #4D5AE5;
    text-align: center;
}
.birinci {
    background-color: #2E2F42;
}
.ikinci {
    color: #FFF;
}